{% extends 'base.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}
{% block body %}

	<div>
		<h1 class="text-center">
			Page Articles</h1>
		<div style="display: grid;
								  grid-template-columns: 1fr 1fr 1fr;">
			{% for article in articles %}
				<div class="card">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">{{article.titre}}</h5>
						<p>
							<strong>{{article.user.login}}</strong>
						</p>
						<p>
							<strong>{{article.createdat|date('d-m-Y')}}</strong>
						</p>
						<p class="card-text">{{article.contenu}}</p>
						<a href="{{ path('page') }}?id={{article.id}}" class="btn btn-primary">Aller à l'article</a>
					</div>
				</div>
			
			{% endfor %}
		</div>
		<div class="navigation">
			{{ knp_pagination_render(
            articles,
            '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
           
        ) }}
		</div>
	</div>
{% endblock %}
